@import "vars";
@import "reset";
@import "mixins";
@import "placeholders";
@import "base";

// Component Imports
@import "components/nav";
@import "components/search";

section {
  padding: 0 1rem;
}

.results {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  @media (min-width: 400px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 700px) {
    grid-template-columns: repeat(3, 1fr);
  }
  div {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  h3 {
    color: $brand;
  }
  p {
    max-height: 2em;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  li {
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 700px) {
      grid-template-columns: 120px 1fr;
    }
  }
}

footer {
  text-align: center;
}

.modal-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0, 0, 0.25);

  &.open {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modal {
  background-color: #fff;
  color: #000;
  width: 500px;
  height: 500px;
}
