@import "vars";
@import "reset";
@import "mixins";
@import "placeholders";
@import "base";

// Component Imports
@import "components/nav";
@import "components/search";

section {
  padding: 0 1rem;
}

.results {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  @media (min-width: 400px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 700px) {
    grid-template-columns: repeat(3, 1fr);
  }
  div {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  h3 {
    color: $brand;
  }

  li {
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 700px) {
      grid-template-columns: 100px 1fr;
    }
  }
}

footer {
  text-align: center;
}
